.careers {
    background-color: red;
    padding: 1rem;
    color: white;
    text-align: center;
    margin-top: 40px;
}
.careers__button {
    background-color: white;
    border: none;
    border-radius: 24px;
    color: red;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}