.community header {
    text-align: center;
}
.community__list {
    padding-top: 50px;
}
.community__list__item {
    border-radius: 30px;
    text-align: left;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    margin-top: 1rem;
    position: relative;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
}
.li {
  background-color: rgba(104, 201, 186, 0.1);
}
.ali {
  background-color: rgba(156, 105, 226, 0.1);
}
.watts {
  background-color: rgba(240, 99, 184, 0.1);
}
.shanai {
  background-color: rgba(45, 156, 219, 0.1);
}



.li::before,
.ali::before,
.watts::before,
.shanai::before {
  content: "";
  position: absolute;
  display: block;
  left: 38%;
  top: -4rem;
  background-size: contain;
  width: 90px;
  height: 130px;
  background-repeat: no-repeat;
  background-position: 50% center;
}

.li::before {
  background-image: url("../img/avatar-anisha.png");
}

.ali::before {
  background-image: url("../img/avatar-ali.png");
}
.watts::before {
  background-image: url("../img/avatar-richard.png");
}
.shanai::before {
  background-image: url("../img/avatar-shanai.png");
}
 
.ali,
.watts,
.shanai {
    display: none;
}
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
}
.community__button {
    background-color: red;
    border: none;
    border-radius: 24px;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 147px;
    margin-top: 30px;
}
@media (min-width: 1114px) {
  .ali,
.watts {
  display: block;
}
  .community__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
      }
      .pagination {
        display: none;
      }
      .community__button {
        margin-left: 578px;
      }
}