body {
    margin: 0;
    padding: 1rem;
    background-color: white;
}
h1 {
    margin: 0;
    padding-top: 12px;
}
h3 {
    font-size: 35px;
}
h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    padding-left: 18px;
}
h6 {
    text-align: center;
}
li {
    list-style: none;
    padding: 1rem;
}
a {
    text-decoration: none;
    color: #a09fb1;
}