body {
    margin: 0;
    padding: 1rem;
    background-color: white;
}
h3 {
    font-size: 35px;
}
h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    padding-left: 18px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}