body {
    margin: 0;
    padding: 1rem;
    // background-color: white;
    background-image: url("../img/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 98px -4%;
}
h1 {
    margin: 0;
    padding-top: 12px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 35px;
}
h4 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    padding-left: 18px;
}
h6 {
    text-align: center;
}
li {
    list-style: none;
    padding: 1rem;
}
a {
    text-decoration: none;
    color: #a09fb1;
}
p {
    color: #a09fb1;
}