footer {
    background-color: black;
    padding: 1rem;
}
.contacts__container {
    display: flex;
    flex-direction: column-reverse;
}
.update__inbox {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer input {
    padding: 1rem;
    border: none;
    border-radius: 32px;
    font-size: 18px;
}
.update__inbox__button {
    border: none;
    border-radius: 25px;
    font-size: 18px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: red;
    color: white;
}
.media__contacts {
    display: flex;
    flex-direction: column-reverse;
}
.media__contacts ul {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contacts__list {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding: 20px;
}
.copy__right {
    text-align: center;
    color: #a09fb1;
}
@media (min-width: 1114px) {
    .contacts__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 40px;
        align-items: baseline;
        max-width: 1114px;
       margin: 0 auto;
    }
    .media__contacts {
        display: flex;
    flex-direction: column;
    }
    .contacts__list {
        margin: 0;
    }
    .update__inbox {
        padding-top: 0;
    }
    .media__contacts ul, h6 {
        margin: 0;
        display: flex;
        justify-content: flex-start;
    }
    .media__contacts li {
        padding: 10px;
    }
    .copy__right {
        
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }
}