.header__button {
    background-color: red;
    border: none;
    border-radius: 24px;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
}
@media (min-width: 1114px) {
    .header__container {
        max-width: 1114px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 24px;
    }
    .header__button {
        display: block;
    }
}