body > header {
    background-image: url("../img/illustration-intro.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 400px;
}
.header__button {
    background-color: red;
    border: none;
    border-radius: 24px;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: none;
}