.management > header {
    text-align: center;
    padding: 40px;
}
.management button {
    background: red;
    border: none;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
}
.management__list__header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    background-color: #ffc0cb;
    padding-right: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.management__list__item {
    padding-bottom: 40px;
}
.management__list__description {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}