.masthead {
    text-align: center;
    background-image: url("../img/illustration-intro.svg"),
                     url("../img/bg-simplify-section-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 400px;
}
.masthead__button {
    background-color: red;
    border: none;
    border-radius: 24px;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}