.masthead {
    text-align: center;
    background-image: url("../img/illustration-intro.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 40% 8%;
    padding-top: 400px;
    padding-left: 40px;
    padding-right: 40px;
}
.masthead__button {
    background-color: red;
    border: none;
    border-radius: 24px;
    color: white;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 1114px) {
    .masthead {
        max-width: 1114px;
        margin: 0 auto;
        background-position: 512px 55px;
        background-size: contain;
        padding-top: 100px;
        padding-bottom: 200px;
    }
    .masthead__container {
        text-align: initial;
        width: 412px;
    }
}