html {
  font-family: "Roboto"; }

body {
  margin: 0;
  padding: 1rem;
  background-color: white; }

h3 {
  font-size: 35px; }

h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  padding-left: 18px; }

h6 {
  text-align: center; }

li {
  list-style: none;
  padding: 1rem; }

a {
  text-decoration: none;
  color: #a09fb1; }

.header__button {
  background-color: red;
  border: none;
  border-radius: 24px;
  color: white;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; }

.masthead__button {
  background-color: red;
  border: none;
  border-radius: 24px;
  color: white;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; }

.menu {
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem;
  background-color: skyblue;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  height: 420px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  transform: translateX(-110%);
  transition: transform 0.3s; }

body > [type="checkbox"]:checked ~ .menu {
  transform: translateX(0); }

body > [type="checkbox"]:checked ~ header label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.25); }

body > [type="checkbox"]:checked ~ main {
  z-index: 1;
  opacity: 0.5; }

body > header .icon_menu {
  width: 50px;
  height: 50px;
  display: block;
  background-image: url("../img/icon-hamburger.svg");
  background-size: 40px;
  background-repeat: no-repeat; }

body > nav .icon_menu {
  width: 50px;
  height: 50px;
  display: block;
  background-image: url("../img/icon-close.svg");
  background-size: 40px;
  background-repeat: no-repeat; }

.menu li:nth-of-type(1),
.menu li:nth-of-type(3) {
  padding: 2rem; }

.menu li:nth-of-type(2),
.menu li:nth-of-type(4) {
  padding: 1rem; }

.a11y,
[type="checkbox"] {
  opacity: 0; }

.menu ul {
  display: flex;
  flex-direction: column; }

.menu__link {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF; }

.menu__link--active {
  font-weight: bold; }

body > nav > ul a:hover {
  opacity: 1; }

body > [type="checkbox"],
.icon_menu {
  position: absolute;
  top: 1.5rem;
  right: 1rem; }

.heading_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

@media (min-width: 1114px) {
  .menu {
    padding: 0;
    background-color: transparent;
    top: 0;
    left: auto;
    right: 0;
    bottom: auto;
    width: auto;
    box-shadow: none;
    transform: none;
    transition: none; }
  /* Switch from column to row flex */
  .menu ul {
    flex-direction: row;
    margin-right: 6rem;
    align-items: baseline; }
  .menu li:nth-of-type(1),
  .menu li:nth-of-type(3) {
    padding: 1rem; }
  .icon_menu {
    display: none; }
  body > nav a {
    color: black; } }

.management > header {
  text-align: center; }

.management button {
  background: red;
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 21px;
  padding-right: 21px;
  border-radius: 20px;
  font-size: 16px; }

.management__list__header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: pink;
  padding-right: 30px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; }

.careers {
  background-color: red;
  padding: 1rem;
  color: white;
  text-align: center;
  margin-top: 40px; }

.careers__button {
  background-color: white;
  border: none;
  border-radius: 24px;
  color: red;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; }

.community__button {
  background-color: red;
  border: none;
  border-radius: 24px;
  color: white;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px; }

footer {
  background-color: black;
  padding: 1rem; }

.contacts__container {
  display: flex;
  flex-direction: column-reverse; }

.update__inbox {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

footer input {
  padding: 1rem;
  border: none;
  border-radius: 32px;
  font-size: 18px; }

.update__inbox__button {
  border: none;
  border-radius: 25px;
  font-size: 18px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: red;
  color: white; }

.media__contacts {
  display: flex;
  flex-direction: column-reverse; }

.media__contacts ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.contacts__list {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  padding: 20px; }

.copy__right {
  text-align: center;
  color: #a09fb1; }
